/* 文字大小
h1 h2>48px
h3>36px
h4>30px
h5>24px
h6>20px
menu>18px
P>內文>16px    
14px
 */   
          


.banner img {
  width: 100%;
}


.header {
  position: relative;
  .header-menu {
    position: absolute;
    width: 100%;
    background-color: #fff;
    opacity: 0.9;
    .header-menu-w {
      max-width: 1440px;
      margin: 0 auto;
    }
    @include rwd($mq-laptop-s){
      .header-menu-w {
        max-width: 96%;
      }  
        //1280      
    }  
    @include rwd($mq-tablet){
      .header-menu-w {
        max-width: 100%;
      }  
        //991      
    }  
    @include rwd($mq-mobile-ll-portrait){
      .header-menu-w {
        max-width: 90%;
      }  
      .logo img {
        width: 200%;
        margin: 10px 5px;
      }
        //600     
    }  
  }
}


.logo {
  float: left;
  width: 26%;
  img {
    margin: 20px 0px 10px 0px;
  }
}

.header-content{
	float: left;
  width: 74%;
  .icon{
    text-align: right;
    .lang {
      li {
      padding: 0px 5px;
      }
    }
    ul {
      display: inline-block;
      padding-left: 0px;
      li {
      display: inline-block;
      padding: 0px 10px;
      margin: 10px 0px;
      @include rwd($mq-laptop-xs){
      margin: 0px;
      }
    }  
    }
  }
  .nav{
    ul {
      list-style: none;
      margin-bottom: 10px;
      text-align: right;
      margin-right: -10px;
      .active {
        border-bottom: solid 3px $hover-line-color;
          padding-bottom: 10px;
        position: relative;
        &::before {
          content: "";
          width: 11px;
            height: 16px;
          background: url(../img/drop.png) no-repeat;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: -16px;
        }
        a {
          color: $hover-font-color;
          padding: 5px 15px;
          background-color: $hover-bg-color;
          border-radius: 50px;
        }
      }
      li {
        position: relative;
        &:hover::before {
          content: "";
          width: 11px;
            height: 16px;
          background: url(../img/drop.png) no-repeat;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: -16px;
        }

        &:hover {
          border-bottom: solid 3px $hover-line-color;
          padding-bottom: 10px;
          a {
            background-color: $hover-bg-color; 
            color:$hover-font-color;  
            border-radius: 50px;
          }
        }
        display: inline-block;
        padding-bottom: 13px;
        a{
          padding: 5px 15px;
          font-size: 16px;
        }
      }
    }
  }
}

@include rwd($mq-tablet){
  .header {
    .header-menu {
      position: relative;
      .header-content {
        display: none;
      }	   
    }
  }
    //991      
 }   



#index-aboutus {
  background-image: url(../img/bg-about-us.jpg);
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 8%;
  width: 100%;
  // height: 930px;
  .wrap {
    .aboutus-text{
      width: 50%;
      margin-left: auto;
      padding: 20% 0px;
    }    
    @include rwd($mq-laptop){
      .aboutus-text{
        padding: 5%;
      }
    }
  }
}

@include rwd($mq-mobile-ll-portrait) {
  #index-aboutus .wrap .aboutus-text {
    width: 70%;
    margin: 0 auto;
  }
}



#index-app {
  background-image: url(../img/bg-app.jpg);
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  width: 100%;
  // height: 1400px;
  .wrap {
      .app-text {
        h1{
          text-align: center;
        }
        p{
        width: 50%;
        margin: 0 auto;
        }
      }
    }
}

@include rwd($mq-laptop){
  #index-app .wrap .app-text p {
    width: 80%;
    margin: 0 auto;
}
}

.app-wrap{
  max-width: 1600px;
  margin: 0 auto;
  .responsive {
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;   
    text-align: center;
    img {
      border-radius: 50%;
      // box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
      margin: 0 auto;
    }

      .slick-slide {
        padding-top: 2%;
        .app-text2 {
          display: none;
        }
      }
      .slick-slide.slick-center {
        .app-text2 {
          text-align: center;
          padding: 20px;
          background: #fff;
          border-radius: 10px;
          opacity: 80%;
          margin-top: 20%;
          display: block;
        }
        img {
          transform: scale(1.4);
        }
      }
    }
}


@include rwd($mq-laptop){
  .app-wrap{
  .responsive {
    img {
      width: 100%;
      }
    .slick-slide img {
      display: none;
    }
    .slick-slide.slick-center img {
      display: block;
    }
  }
  }
}



 

 



	
	



 