// swiper
.swiper-container-initialized {
  position: relative;
}

.hideobj {
    display: none;
}

.container {
  max-width: 1340px;
}

@media (max-width: 991px) {
  section {
    padding: 70px 0;  
  }
}  


@media (max-width: 767px) {
  section {
    padding: 30px 0;  
  }
}

.bg-light01 {
  // background: url(../img/bg01.png) #f8f9fa center no-repeat;
  background: #f8f9fa;
}

// header
#top-bar {
    position: fixed;
      box-shadow: none;
}  

.single-item {
  padding-top: 85px;
}  


@media (max-width: 991px) {   
  .single-item {
    padding-top: 78px;
  }  
}   

// @media (max-width: 520px) {   
//   .single-item {
//     padding-top: 53px;   
//   }
// }

@media (max-width: 520px) {
  #mainNav .navbar-brand {
    margin: 0;
    img {
      max-width: 100%;
    }
  }
}

@media (max-width: 480px) {   
  #mainNav .navbar-brand img {
      max-width: 64px;
  }

  .single-item {
    padding-top: 56px;
  }  
}   


#mainNav .navbar-nav .nav-item .nav-link {
    color: #231815;
}

#mainNav {
    box-shadow: 2px 2px 15px #f8f9fa;
    // box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.1);
}

// banner
header .carousel-inner .carousel-item {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
} 

// slick
.slick-prev {
  left: 20px;
  z-index: 999;
}

.slick-next {  
  right: 25px;
  z-index: 999;
}

.slick-next::before, .slick-prev::before {
  font-size: 28px;
}

@media (max-width: 767px) {
  .slick-next::before, .slick-prev::before {
    display: none;
  }
}

.slick-dots li.slick-active button:before {
  color: #5d4b94;
}

// 關於產品
@media (max-width: 991px) {
  .about-pd {
    margin-top: 30px;
  }
  #About .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
    
  }
}   

@media (max-width: 767px) {
  .about-pd {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}



#About p {
  padding: 0px;
  padding-bottom: 4px;
}



.about-pd h4 {
  font-size: 16px;
  background: #6d796d;
  color: #fff;
  // color: #231815;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
}

.about-pd p {
  font-size: 15px!important;
  color: #6c757d;
  margin: 0!important;
}

.about-pd ul {
  color: #6c757d;
  font-size: 14px;
  list-style: none;
  padding-left: 0;
}


// 產品介紹
.pd-intro h4{
  margin: 10px 0;
  font-size: 18px;
}

.pd-btn .btn-outline-primary {   
    width: 48%;
    float: left;
    margin: 0 1%;
    border: none;
}

@media (max-width: 767px) {
  #portfolio .portfolio-item {
      margin: 0 0 60px;
  }
}

// 漸層按鈕
.btn-outline-primary {
  color: #624e9e;
  border-color: #624e9e;
}

.btn-outline-primary:hover {
  background: #624e9e;
}

#portfolio.pd-intro * {
  z-index: unset;   
}

body, .btn:after {
    background: #fff;
  }

.pd-btn .btn-outline-primary, .pd-btn .btn-outline-primary:before {
      border: none;
      
    //   background: -moz-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
    //   background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(26,188,156,1)));
      background: -webkit-linear-gradient(360deg, rgba(229,65,145,1) 0%, rgba(147,73,152,1) 25%, rgba(98,78,158,1) 50%, rgba(105,147,205,1) 75%, rgba(112,198,198,1) 100%);
      
    //   background: -o-linear-gradient(360deg, rgba(229,65,145,1) 0%, rgba(147,73,152,1) 25%, rgba(98,78,158,1) 50%, rgba(105,147,205,1) 75%, rgba(112,198,198,1) 100%);
    //   background: -ms-linear-gradient(360deg, rgba(229,65,145,1) 0%, rgba(147,73,152,1) 25%, rgba(98,78,158,1) 50%, rgba(105,147,205,1) 75%, rgba(112,198,198,1) 100%);
    //   background: linear-gradient(360deg, rgba(229,65,145,1) 0%, rgba(147,73,152,1) 25%, rgba(98,78,158,1) 50%, rgba(105,147,205,1) 75%, rgba(112,198,198,1) 100%);
    //   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#1abc9c', GradientType=1 );
}
  
.pd-btn .btn {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  transition: all .5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pd-btn .btn:hover {
  text-shadow: 0px 0px 0px #fff;
}
.pd-btn .btn:hover:after {
  left: 100%;
  top: 100%;
  bottom: 100%;
  right: 100%;
}
.pd-btn .btn:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: 4px;   
  transition: all .5s;
}
.pd-btn .btn:after {
  content: '';
  display: block;
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  right: 1px;
  z-index: -1;
  border-radius: 4px;
  transition: all .5s;
}

.grey {
  color: #6d796d;
}
   
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  // color: #6d796d;
  color: #624e9e;
}

// 漢堡選單
#mainNav .navbar-toggler {
  background: none;
  color: #212529;
  font-size: 21px;
  box-shadow: none;
}


@media (max-width: 520px) {
#mainNav .navbar-collapse ul {
    background: none;
}
}


// 聯絡我們
#contact-box {
  margin-bottom: 20px;
}

.reset-bt {
  color: #6c757d;
  border-color: #6c757d;
}

.reset-bt:hover {
  background: #6c757d;
  border-color: #6c757d;
}

.btn.disabled, .btn:disabled {
  opacity: 1;
}

.submit-bt, .submit-bt.disabled {
  color: #624e9e;
  border-color: #624e9e;
  font-weight: 400;
}  

.submit-bt:hover,  .submit-bt.disabled:hover {
  background: #624e9e;
  color: #fff;
}

#contact-box .label {
  text-align: right;
}

@media (max-width: 767px) {
  .contact-info {
    text-align: center;
  }
  #contact-box .label {
    text-align: left;
  }
}



.contact-info ul {
  list-style: none;
  padding-left: 0;
  color: #6c757d;
}

.contact-info a {
  color: #6c757d;
}


.ft_copyright {
  // color: #6c757d;
  // background: #fff;
  // background: #5d4b94;
  // background: #6d796d;
  color: #fff;
  background: #5d4b94;
  background: -webkit-linear-gradient(360deg, rgba(229,65,145,1) 0%, rgba(147,73,152,1) 25%, rgba(98,78,158,1) 50%, rgba(105,147,205,1) 75%, rgba(112,198,198,1) 100%);
  padding: 0.5%;
}


@media (max-width: 767px) {
  .ft_copyright {
    background: #f8f9fa;
    color: #6c757d;
    padding-bottom: 30px;
  }

  #contactus {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .contact-info {
    font-size: 14px;
  }
}




// 浮動icon
.fixed-icon {
  z-index: 999;
}

#iconemail {
    position: fixed;
    background: #5d4b94;
    background: -webkit-linear-gradient(360deg, rgba(229,65,145,1) 0%, rgba(147,73,152,1) 25%, rgba(98,78,158,1) 50%, rgba(105,147,205,1) 75%, rgba(112,198,198,1) 100%);
    width: 50px;
    height: 50px;
    border-radius: 50%;  
    bottom: 215px;
    right: 20px;
}

#iconemail span {
  background: url(../img/icon/icon-shopee.png) center no-repeat;
  padding: 50%;
}

#iconemail3 {
  position: fixed;
  background: #5d4b94;
  background: -webkit-linear-gradient(360deg, rgba(229,65,145,1) 0%, rgba(147,73,152,1) 25%, rgba(98,78,158,1) 50%, rgba(105,147,205,1) 75%, rgba(112,198,198,1) 100%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 160px;
  right: 20px;
}

#iconemail3 span {
  background: url(../img/icon/icon-pchome.png) center no-repeat;
  padding: 50%;
}

#iconemail4 {
  position: fixed;
  background: #5d4b94;
  background: -webkit-linear-gradient(360deg, rgba(229,65,145,1) 0%, rgba(147,73,152,1) 25%, rgba(98,78,158,1) 50%, rgba(105,147,205,1) 75%, rgba(112,198,198,1) 100%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 105px;
  right: 20px;
}

#iconemail4 span {
  background: url(../img/icon/icon-line.png) center no-repeat;
  padding: 50%;
}

#iconemail5 {
  position: fixed;
  background: #5d4b94;
  background: -webkit-linear-gradient(360deg, rgba(229,65,145,1) 0%, rgba(147,73,152,1) 25%, rgba(98,78,158,1) 50%, rgba(105,147,205,1) 75%, rgba(112,198,198,1) 100%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 50px;
  right: 20px;
}

#iconemail5 span {
  background: url(../img/icon/icon-FB.png) center no-repeat;
  padding: 50%;
}



.mb-fixed-bottom {
  position: fixed;
  background: #624e9e;
  background: -webkit-linear-gradient(360deg, rgba(229,65,145,1) 0%, rgba(147,73,152,1) 25%, rgba(98,78,158,1) 50%, rgba(105,147,205,1) 75%, rgba(112,198,198,1) 100%);
  z-index: 999;
  bottom: 0;
  width: 100%;
  display: none;
}

.mb-fixed-bottom ul {
  /* padding-inline-start: 0px; */
  padding-left: 0px;
}

.mb-fixed-bottom ul li {     
  list-style: none;
  height: 60px;
  float: left;
  width: 25%;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-right: solid 1px #fff;
}

.mb-fixed-bottom ul li a {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.mb-fixed-bottom ul li a::before {
  content: '';
  z-index: 999;
  position: absolute;
  width: 34px;
  height: 34px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.shopee a::before {
  background-image: url(../img/icon/icon-shopee.png);
}

.pchome a::before {
  background-image: url(../img/icon/icon-pchome.png);
}

.line a::before {
  background-image: url(../img/icon/icon-line.png);
}

.FB a::before {
  background-image: url(../img/icon/icon-FB.png);
}  

@media (max-width: 767px) {
  .fixed-icon.fr.dark {
    display: none;
  }
  .mb-fixed-bottom {
      display: block;
  }
}   

// 過banner出現
.fr {
  position: fixed;
  left: 0;
  top: 0px;
  display: none;
}

.fr.dark {
  display: block;
}
