
* body {
    background: #000;
    color: #fff;
  }
  
  
  .bg-light {
    opacity: 0.95;
  }
  
  #index-nav img {
    max-width: 280px;
  }

  @media (max-width: 375px)  { 
    #index-nav img {
      max-width: 260px;
    }
  }
  
  @media (max-width: 320px)  { 
    #index-nav img {
      max-width: 200px;
    }
  }

  #index-nav li {
    text-transform: uppercase;
    font-weight: 500;
  }
  
  #index-nav li a:hover {
      color: #254c93;
  }
  
  
  .about-us {
    padding: 50px 30px;
  }
  
  .all-bg {
    color: #fff;
    background-image: url(img/about-bg.jpg);
    width: 100%;
    overflow: hidden;
  }
  
  .bg-img h1 {
    color: #2871fa;
    text-align: center;
  }
  
  .bg-img h4 {
    text-align: center;
    font-weight: 300;
  }
  
  
  #banner-s {
    display: none;
  }
  
  
  @media (max-width: 767px)  { 
    #banner-b {
    display: none;
  }
    #banner-s {
    display: block;
  }
  }
  
  
  /* 產品介紹 */
  .creative-area h1 {
      color: #2871fa;
      margin-bottom: 20px;
  }
  
  .creative-area .card img {
      width: 100%;
      transition: all 0.5s ease-in-out;
      -webkit-filter: grayscale(60%); /* Safari */
      filter: grayscale(60%);
  }
  
  .creative-area{
    padding: 10px;
  }
  .creative-area .card {
    overflow: hidden;
  border-radius: none;
  border: solid 10px #000;
  outline: solid 2px #3e80fa;
  }

  .creative-area .card:hover img {
    transform: scale(1.2);
  }
  
  .pd-title {
      font-size: 34px;
      line-height: 36px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      opacity: 1;
      transition: all 0.5s ease-in-out;
      color: #fff;
      text-shadow: black 0.1em 0.1em 0.2em;
      font-weight: 400;
  }
  
  .creative-area .col-md-4 {
    padding: 0px;
    margin: 0px;
  }


  /* News最新消息 */
  #index-news {
    text-align: center;
   }
   
   #index-news h1{
    color: #2871fa; 
  }


  .about-conenet .section .about-info p {
    text-indent: 0!important;
    color: #fff;
  }


.brand-T h3 {
    color: #2871fa;
    font-size: 30px;
    border-left: solid 8px #2871fa;
    padding: 0px 10px;
  }
  
  .about-conenet {
    font-size: 18px;
    line-height: 1.8;
  }
  .about-conenet .section {
    position: relative;
    margin-bottom: 60px;
  }
  .about-conenet .section .img {
    position: relative;
  }
  .about-conenet .section .img-cap {
    position: absolute;
    bottom: -20px;
    left: 10px;
  }
  .about-conenet .section .about-info {
    position: absolute;
    z-index: 1;
    background: #000;
    padding: 20px;
  }
  .about-conenet .section .about-info p {
    padding: 20px;
    text-indent: 2em;
  }
  .about-conenet .section.sec-1 {
    padding-top: 100px;
  }
  .about-conenet .section.sec-1 .img {
    text-align: right;
  }
  .about-conenet .section.sec-1 .img-cap {
    right: 10px;
    left: inherit;
  }
  .about-conenet .section.sec-1 .about-info {
    max-width: 50%;
    top: 50px;
    left: 0;
  }
  .about-conenet .section.sec-1 .about-info p {
    border-right: #2871fa 2px solid;
    border-bottom: #2871fa 2px solid;
  }

  img {
    width: 100%;
  }
  
  @media (max-width: 480px) {
    .section {
      position: static;
    }
    .section .about-info {
      position: static;
    }
    .section.sec-1 {
      padding-top: 0;
    }
    .about-conenet .section.sec-1 .about-info {
      padding: 10px;
      max-width: 100%;
    }
    .section.sec-2 {
      padding-top: 0;
    }
    .section.sec-2 .about-info {
      padding: 10px;
      max-width: 100%;
    }

    

  }
  


  /* end of News最新消息 */
  
  /* 頁尾 */
  .footer {
    padding: 30px 0;
  }
  
  .footer img{
    width: 100%;
  }
  
  .footer-address ul {
    padding: 5px;
    list-style: none;
    font-size: 16px;
    line-height: 1.4em;
  }
  
  .footer-address a{
    color: #fff;
  }
  
  .footer-copyright {
    font-size: 12px;
  }
  