$main-color: #000 !default;    //主內容色

$hover-bg-color: #0f218b; 
$hover-line-color: #0f218b; 
$hover-font-color: #fff; 







$default-font-family: 'Arial', "微軟正黑體", \5FAE\8EDF\6B63\9ED1\9AD4, "Microsoft JhengHei", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;


.slick-prev:before, .slick-next:before {
    color: #000!important;
}